/* Stile Generale */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF0F5; /* Colore di sfondo rosa chiaro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.game-container {
    text-align: center;
}

.candy-box {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    background-color: #FFF;
    border: 3px solid #FF69B4;
    border-radius: 10px;
    overflow: hidden;
}

#candy {
    width: 50px;
    height: 50px;
    background-color: #FF1493;
    position: absolute;
    border-radius: 50%;
    display: none; /* Inizialmente non visibile */
}

.score {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

.score-board {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;
    text-align: center;
    width: 350px; /* Riquadro più grande */
    height: 250px;
}

#final-score {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}

#final-score-value {
    font-size: 36px;
    color: #FF1493;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #FF69B4;
    cursor: pointer;
}

#close-btn:hover {
    color: #333;
}
